# CONFIG
APP_URL=http://localhost:3333

# DATABASE & TYPEORM
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DB=happy
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_ENTITIES=./src/modules/**/infra/typeorm/entities/*.entity.ts
TYPEORM_MIGRATIONS=./src/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=./src/infra/typeorm/migrations

#MAILTRAP
MAILTRAP_USER=
MAILTRAP_PASS=
